ion-view(title="Dashboard")#login
	ion-content 
		
		.logo
			img(src="img/svg/favicon.svg")
		.title PicStreet Dashboard
		label.item.item-input
			span.input-label Email
			input(
				type="text"
				ng-model="me.email"
			)

		label.item.item-input
			span.input-label Password
			input(
				type="password"
				ng-model="me.password"
			)

		button.button.button-block.login(
			ng-click="login(me)"
		) Login

		a(ui-sref="signup") or Signup
