form.dropzone#dropzone(
	ng-if="dropzoneConfig"
	method="post"
	enctype="multipart/form-data"
	ng-dropzone
	dropzone="dropzone"
	dropzone-config="dropzoneConfig"
	event-handlers="dropzoneEvents"
)
	.dz-message(ng-show="state == 'ready'")
		button Upload Document

	.dz-message(ng-if="state == 'loading'")
		ion-spinner(icon="ios")

	.dz-message(ng-if="state == 'success'")
		i.ion-checkmark-circled

	.dz-message(ng-if="state == 'error'")
		i.ion-error-circled