
ion-side-menus#authenticated

	ion-side-menu-content(drag-content="false")

		ion-nav-view(name="menuContent" animation="no-animation")

	ion-side-menu(side="left")

		ion-item(
			menu-close
			ui-sref="authenticated.map"
		)
			.icon: i.custom-icon.custom-icon-business
			.title Map

		ion-item(
			menu-close
			ui-sref="authenticated.activities"
		)
			.icon: i.custom-icon.custom-icon-business
			.title Activities
		
		ion-item(
			ui-sref="authenticated.photographers"
			menu-close
		)
			.icon: i.custom-icon.custom-icon-business
			.title Photographers

		ion-item(
			ui-sref="authenticated.customers"
			menu-close
			ng-grant="['$administrator']"
		)
			.icon: i.custom-icon.custom-icon-business
			.title Customers

		ion-item(
			ui-sref="authenticated.albums"
			menu-close
			ng-grant="['$administrator', '$photographer']"
		)
			.icon: i.custom-icon.custom-icon-business
			.title Albums

		//- ion-item(
		//- 	menu-close
		//- 	ng-click="openModalMyPictures()"
		//- )
		//- 	.icon: i.custom-icon.custom-icon-business
		//- 	.title My Pictures

		ion-item(
			menu-close
			ng-click="logout()"
		)
			.icon: i.custom-icon.custom-icon-business
			.title Logout

		