
ion-side-menus#authenticated

	ion-side-menu-content(drag-content="false")
		header
			.header-name Picstreet
			.header-content
				.header-content-item.role(ng-grant="['$master']") master
				.header-content-item.role(ng-grant="['$administrator']") administrator
				.header-content-item.role(ng-grant="['$manager']") manager
				.header-content-item.role(ng-grant="['$photographer']") photographer
				.header-content-icon.ion-ios-bell-outline
				.header-content-icon.ion-ios-gear-outline
				.header-content-item(ng-click="logout()") logout
		main
			menu
				
				ion-item(
					ui-sref="authenticated.documents"
					ng-grant="['$new']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Présentation

				ion-item(
					ui-sref="authenticated.documents"
					ng-grant="['$new']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Téléchargez vos documents

				ion-item(
					ui-sref="authenticated.reviews"
					ng-grant="['$administrator']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Reviews

				ion-item(
					ui-sref="authenticated.map"
					ng-grant="['$administrator', '$manager','$photographer']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Map

				ion-item(
					ui-sref="authenticated.activities"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Activities
				
				ion-item(
					ui-sref="authenticated.photographers"
					ng-grant="['$administrator', '$manager']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Photographers

				ion-item(
					ui-sref="authenticated.sponsorship"
					ng-grant="['$photographer']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Parrainer un photographe

				ion-item(
					ui-sref="authenticated.customers"
					ng-grant="['$administrator']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Customers

				ion-item(
					ui-sref="authenticated.albums"
					ng-grant="['$administrator', '$manager', '$photographer']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title Albums

				ion-item(
					ui-sref="authenticated.cgu"
					ng-grant="['$administrator', '$manager', '$photographer', '$new']"
				)
					.icon: i.custom-icon.custom-icon-business
					.title CGU

				

				

				
				
			.main-content(
				ui-view="menuContent"
			)

