ion-view(title="Photographers")
	
	ion-content#photographer 
		.photographer-primary-infos
			.avatar
				img(src="img/male.png")
			.name 
				.firstname {{ photographer.firstname }}
				.lastname {{ photographer.lastname }}
		
		.photographer-content
			tabs-menu
				
				tabs-content(
					title="Activity"
					ng-grant="['$administrator','$manager']"
				) 
				
				tabs-content(
					title="Informations"
					ng-grant="['$administrator','$manager']"
				)
				
				tabs-content(
					title="Statistiques"
					ng-grant="['$administrator','$manager']"
				)
				
				tabs-content(
					title="Albums"
					ng-grant="['$administrator','$manager']"
				)
				
				tabs-content(
					title="Payments"
					ng-grant="['$administrator']"
				)
				
				tabs-content(
					title="Manager"
					ng-grant="['$administrator']"
				)
				
				tabs-content(
					title="Role"
					ng-grant="['$administrator']"
				)
				
				tabs-content(
					title="Contact"
					ng-grant="['$administrator','$manager']"
				)
	