ion-view(title="Legal")#cgu
	tabs-menu

		tabs-content(

			ng-repeat="category in categories"
			title="category"
		)
			

			.sortable-list(
				
				as-sortable="dragControlListeners"
				ng-model="category.legals"
			)
				.legal(
					ng-repeat="legal in category.legals"
					as-sortable-item

				)
					
					.handle.ion-ios-browsers-outline(
						ng-grant="['$administrator']"
						as-sortable-item-handle
					)
					.title {{legal.title}}
					
					.description(
						ng-bind-html="legal.description"
					)

					.actions(ng-grant="['$administrator']")
						a(ng-click="editLegal(legal)") edit
						a(ng-click="deleteLegal(legal)") delete
			
			
			.legal-editor#editor(ng-grant="['$administrator']")
				.title
					input(
						placeholder="Title"
						ng-model="newLegal.title"
					)
				.description
					text-angular(
						placeholder="description"
						ng-model="newLegal.description"
					)
				.action
					button(ng-click="createLegal(newLegal)") Create
		
		

		



	
